.container {
  position: relative;
  height: auto;
  min-height: 100%;
  background: black;
  color: #fff;
}

.main {
  width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  font-weight: bold;
  height: 800px;
}

.footer {
  padding-bottom: 10px;
}
