@import "../scss/border";

.status {
  width: 18%;
  @extend %border-shared;
}

.statusContentUl {
  list-style: none;
  text-align: left;
  padding: 5px;
  margin: 0;
}

.statusContentLi {
  background: black;
  /* display: inline-block; */
  width: 4em;
  /* margin-right: 15px; */
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding: 0;
  margin-bottom: 5px;
  /* margin-right: 16px; */
}
