@import "../scss/border";

.wrapper {
  @extend %border-shared;
  // margin-left: 10px;
  // float: left;
  // padding: 0 20px;
  height: 100%;
  width: 100%;
  padding-left: 25px;
  // flex-grow:1;
  // margin-bottom: 22px;
}
