@keyframes fill {
  0% {
    width: 0;
  }
}

.progressBar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
  margin-bottom: 10px;
  //   animation: move 2s linear infinite;
}

.filler {
  background: #1da598;
  height: 100%;
  border-radius: inherit;
  animation: fill 0.7s ease-in;
}
