@keyframes correct {
  20% {
    -webkit-transform: translate(25px);
  }
  40% {
    -webkit-transform: translate(-25px);
  }
  60% {
    -webkit-transform: translate(10px);
  }
  80% {
    -webkit-transform: translate(-10px);
  }
  100% {
    letter-spacing: 1em;
    opacity: 0;
  }
}

@keyframes wrong {
  50% {
    -webkit-transform: scale(1.5) rotate(-15deg);
  }
}

.wrapper {
  position: relative;
  height: 300px;
}
.targetContainer {
  list-style: none;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}
/* .target {
  text-align: center;

  font-weight: bold;
} */
.correct {
  text-align: center;
  font-weight: bold;
  animation-name: correct;
  animation-iteration-count: 1;
  animation-duration: 1s;
}
.wrong {
  text-align: center;
  font-weight: bold;
  animation-name: wrong;
  animation-iteration-count: 1;
  animation-duration: 1s;
}
