.wrapper {
  text-align: center;
}
.imageWrapper {
  text-align: center;
}
.word {
  font-size: 100px;
}
.balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 25px;
  //   background: #e0edff;
  background: #fff;
  border-radius: 10px;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #fff;
}

.balloon p {
  margin: 0;
  padding: 0;
}
